.cards{
  padding: 7%;
  padding-top: 1.5%;
}

body{
  background-color: #eaeef2;
}

.title{
  padding: 0.5%;
  color: #eaeef2;
  margin: 2% auto;
  text-align: center;
  border: solid 1px;
  border-radius: 10px;
  width: 15%;
  font-size: 1.5em;
}

.myPic{
  border: solid white 4px;
}

.aboutMe, .contact{
  font-family: 'Bitter', serif;
  font-size: 20px;
  padding-bottom: 10%;
}

.heading{
  font-family: 'Anton', sans-serif;
}

.me{
  color: white;
}

.projects{
  font-size: 2em;
  margin-bottom: 2%;
}
.contactHead{
  text-align: center;
}
.spacer{
  padding: 0 1em 0 1em;
}
.contact{
  color: white;
  padding: 0 0 0 4em;
}
header{
  margin-bottom: 4%; 
  padding-top: 5%;
  padding-bottom: 1%;
  background-image: url("/images/headerBG.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}